
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>
<body>
</br>
	<div class="row">
		<div class="col-sm-8" style="align:center;text-align:center;color:maroon">
		<h1><b>RESCUE TEAM REGISTRATION<b></h1>
		</div>
	</div>
<hr>
 
 
 </br>


 <%= form_for(@team) do |f| %> 
 
 
       <div class="row">
          <div class="col-sm-2">
			
		</div>
		<div class="col-sm-6">
		
			<% if flash[:register_errors] %>
			 <div class="alert alert-danger" role="alert">
			 	 <ul>
			   <% flash[:register_errors].each do |e| %>
	            
	             <li><%= e %></li>
			   <%end%>
			   </ul>
			   </div>
	        <%end%>
		     
        
        </div>
       </div>
	<div class="row">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-2">
			<label for="exampleInputEmail1">Team Name </label>
		</div>
		<div class="col-sm-2">
			<%= f.text_field  :name , class: "form-control", placeholder: "Enter team name" %> 
		</div>
	</div>
 	</br>
	
 	
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-2">
			<label for="exampleInputEmail1">Team Strength</label>
		</div>
		<div class="col-sm-2">
			<%= f.number_field  :teamsize ,setp: "1",min: "1",value: "1" , class: "form-control"%> 
		</div>
	</div>
 	</br>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-2">
			<label for="exampleInputEmail1">Email address :</label>
		</div>
		<div class="col-sm-2">
			<%= f.text_field  :email , class: "form-control", placeholder: "Enter email" %> 
		</div>
	</div>
 	</br>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-2">
			<label for="exampleInputEmail1">Rescue Area</label>
		</div>
		<div class="col-sm-2">
             <%= select_tag :area, options_from_collection_for_select(Admin.all, :id, :area) %>
  
			
		</div>
	</div>
 	</br>
<div class="row">
 <div class="col-sm-2">
</div>
  <div class="col-sm-2">
    <label for="exampleInputPassword1">Password :</label>
 </div>
  <div class="col-sm-2">
    <%= f.password_field :password, placeholder: "Password"  %>
  
   
  </div>
  </div>
 </br>
<div class="row">
 <div class="col-sm-2">
</div>
  <div class="col-sm-2">
    <label for="exampleInputPassword1">Confirm Password :</label>
 </div>
  <div class="col-sm-2">
            <%= password_field_tag(:password_confirmation, "", placeholder: "Password")  %>
   </div>
  </div>
 </br>
<div class="row">
 <div class="col-sm-2">
</div>
  <div class="col-sm-2">
    <label for="exampleInputPassword1">Contact No :</label>
 </div>
  <div class="col-sm-2">
   
    <%= f.telephone_field :contactno, placeholder:"Contact No" %> 
   
  </div>
  </div>  </div>
  </div>


 </br>
 
<div class="row">
 <div class="col-sm-2">
</div>
  <div class="col-sm-3">
  	<%= f.submit " Register", class: "btn btn-primary" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Reset' , '/signup', class: "btn btn-primary",:method => :get %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 	<%= link_to 'Back' , root_path, class: "btn btn-primary",:method => :get %>
  </div>
</div>
 

  


 
    
 
<% end %>

</body>
</html> 