<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <style>
.vl {
    border-left: 2px solid skyblue;
    height: 500px;
}
</style>

</head>


<body>
 <%=form_for(@detail) do |detail| %>
 	<nav class="navbar navbar-dark bg-dark">
<!-- Navbar content -->
  	<div class="row">
    <div class="col-sm-4"> 
    	<%= link_to 'Admin Home' ,"/adminview",class: "btn btn-outline-light" %> </div>
   		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-2">
    	<%= link_to 'Admin View' , '/adminedit',class: "btn btn-outline-light" %></div>
    </div>
    <div class="col-sm-2">
    	<%= link_to 'Add a Notification' , '/adminnotification',class: "btn btn-outline-light" %></div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%=label_tag 'name', @admin.email  ,class: "btn btn-outline-light" %>
    	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="col-sm-2">
    <%= link_to 'Profile' , '/adminprofile',class: "btn btn-info" %>
    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-2">
    <%= link_to 'Logout' , '/alogout',class: "btn btn-danger" %>
    </div>
    </div> 
	</div>
  </nav>

    <!--ADMIN FRANT PAGE -->
  <div class="center">
  <div class="container">
  	</br>
        <label><h3><b>MISSING REPORT</b></h3></label>
       </br>
        <hr>
      <div class="row">
        
         <div class="col-sm-4" >
          
         	<% if flash[:admin_insert_errors] %>
            <div class="alert alert-danger" role="alert">
               <p> <%= flash[:admin_insert_errors]%></p>
               </div>
         	<%end %>
          <% if flash[:record_insert] %>
            <div class="alert alert-primary" role="alert">
                <p> Record Registered Successfully</p>
            </div>
            <% flash[:record_insert]=false %>
          <%end%>
         
         </div>   
       <div class="form-group">
        
      <label for="exampleInputEmail1">No of Missing People</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
       <%= detail.number_field :count ,setp: "1",id: "count" ,min: "1",value: "1",max: "10" %>
       
         </br></br>
         
           <%= detail.text_field :name , class: "form-control" , placeholder: "Enter Name"  %>
                          
        <div id="div1"></div>

       
        
           
        
        </br>
           <label id="area" >Area: <%= @admin[:area]%></label>
        
            </br>
             <label id="area" >Select Rescue Team</label>  &nbsp;&nbsp;&nbsp;&nbsp;
            <%= select_tag :r_id, 
        options_from_collection_for_select(Rescueteam.where(area: @admin[:area]), :id, :name) %>
        
            </br></br>
             <label for="exampleInputEmail1">Set Emergency Level</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
       <%= detail.number_field :elevel ,setp: "1",id: "count" ,min: "1",value: "1",max: "5" %>
       
         </br></br>
       <label for="exampleFormControlTextarea1">Address</label>
       <%= detail.text_area :address ,class: "form-control" ,rows: "1"%>
       
      </br>
        <label for="exampleInputEmail1">Google Map Link</label>
         <%= detail.text_field :glocation , class: "form-control" , placeholder: "Enter Link with https"  %>
         
         
             </br>
             
             <%= detail.submit "Submit", class: "btn btn-primary"%>
        
        </div>
       
      </div>
 </div>
  </div>

<% end %>

</body>
</html>




