
 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <style>
.vl {
    border-left: 2px solid skyblue;
    height: 450px;
}
</style>

</head>
<body>
	  <nav class="navbar navbar-dark bg-dark">
<!-- Navbar content -->
  <div class="row">
    <div class="col-sm-3"> <%= link_to 'Back' ,"/",class: "btn btn-outline-light" %> </div>
     &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-3"> <%= link_to 'Search by ID' ,"/search",class: "btn btn-outline-light" %> </div>
  </nav>
</br>
   <hr>

	<div class="row">
		<div class="col-sm-1" >

		</div>
		<div class="col-sm-2" >
			<h3> Select Area </h3>
		    <% @admin.each do |f| %>
	           </br>
	           <%= link_to f.area, {:action => 'check', :area => f.area} -%>
	           </br>
	        <% end %>
		</div>
        <div class="vl"></div>
		<div class="col-sm-5" >
	     <div style="height:450px;width:800px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
		    <% if !flash[:flag] %>
			  <% a=true%>

			   <% @d.each do |c| %>
			        <% a=false%>
				   
                   <div class="alert alert-primary" role="alert">
                   	    <p>Missing Person :<%=  c.name -%> &nbsp;&nbsp;&nbsp;&nbsp;  Emergecy Level : <%=  c.elevel -%>  <br> 
                   	    <% if c.u_id == "admin"	%>
                          Reported By: Admin : <%= Admin.find_by_area(c.area).name %> &nbsp;
                        <% else %>  
                          Reported By: <%= Guestuser.find(c.u_id).name %> &nbsp;
                        <% end %>
				       <%= link_to "View Details" ,{:action => 'show', :id => c.id} %>
				       </p>
                   </div>
				   
				   
			   <% end %>
			 <%if a%>
			</br>
                   <div class="alert alert-danger" role="alert">
                   	    <h3>NO MISSING REPORT</h3>
                   </div>
			<%end%>	

	  <% end %>
		</div>
	</div>

	</div>
 	
	<% flash[:flag]= true %>
 

  


 
    
 


</body>
</html> 






   

     
 
      
